# C2M2 Manifests and generation files
*.zip
submission/
test/

# Logging
*.log
logs/

# Distribution / packaging
__pycache__/
.eggs/
.installed.cfg
.Python
.python-version
*.egg-info/
*.eggs
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
MANIFEST
parts/
pip-wheel-metadata/
sdist/
share/python-wheels/
var/
wheels/

# Environments
.env
.env/
.venv
.venv/
env/
venv/

## macOS.gitignore
# General
.DS_Store